* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'roboto', sans-serif;
}
a{
  color: royalblue;
  text-decoration: none;
  padding: 20px;
  margin-top: 20px;
}
a:hover{
  color: rgb(255, 12, 12) !important;
}
