@tailwind base;
@tailwind components;
@tailwind utilities;

::selection{
    background-color: rgb(131, 232, 131);
}
.toast-message-copy {
    margin-top: 50px;
    background: rgb(57,209,210);
background: radial-gradient(circle, rgba(57,209,210,1) 0%, rgba(19,146,57,1) 100%);
    color: #fff;
    font-size: 20px;
  }
.toast-message-dlt {
    margin-top: 50px;
    background: rgb(210,57,119);
background: radial-gradient(circle, rgba(210,57,119,1) 0%, rgba(146,19,32,1) 100%);
    color: #fff;
    font-size: 20px;
  }
.toast-message-edit {
    margin-top: 50px;
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,43,158,1) 23%, rgba(0,125,255,1) 100%);
    color: #fff;
    font-size: 20px;
  }